:root {
  --dark: #1f2f3e;
  --light: #fefefe;
  --primary: #607d8b;
}
body {
  margin: 0;
  background-color: #e8e8e8;
  color: var(--dark);
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
body > .menu {
  display: none;
}
a {
  color: var(--light);
}
body > .to-main-header {
  position: absolute;
  left: 0;
  right: 0;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9;
}
body > .to-main-header > header {
  margin: 16px;
  border: var(--dark) 2px solid;
  padding: 32px 64px;
  background-color: var(--light);
  text-transform: uppercase;
  text-align: center;
  max-width: 520px;
}
body > .to-main-header > header > h1 {
  letter-spacing: 4px;
  font-weight: bold;
}
body > .to-main-header > header > h4 {
  letter-spacing: 1px;
  opacity: 0.7;
  font-weight: 100;
}
.content {
  max-width: 1080px;
  margin: 0 auto;
  display: flex;
  background-color: var(--light);
}
.content > * {
  padding: 260px 64px;
}

.content > nav {
  flex: 1;
  background-color: var(--primary);
  color: var(--light);
}
.content > main {
  flex: 2;
}
.content article {
  margin: 16px 0;
}
.content header {
  white-space: nowrap;
  font-size: 16px;
  letter-spacing: 4px;
  text-transform: uppercase;
  font-weight: 600;
}
.content article > header {
  font-size: 14px;
  letter-spacing: 0px;
  font-weight: bold;
  padding-bottom: 2px;
}
.content section > header {
  padding-bottom: 8px;
  border-bottom: var(--light) 2px solid;
}
.content > main > section > header {
  border-bottom: var(--dark) 2px solid;
  display: flex;
}
.content > main > section > article ~ article {
  margin-top: 48px;
}
.content > main > section > article > header {
  display: flex;
  flex-direction: row;
  text-transform: none;
}
.content > * > section {
  padding: 16px 0;
}
.title {
  flex: 1;
  white-space: normal;
}
.local {
  flex: 1;
  text-align: right;
  font-weight: 100;
}
.subtitle {
  margin-bottom: 16px;
}
.skill-level {
  letter-spacing: 5px;
  font-size: 12px;
}
header:no + section {
  margin-bottom: 32px;
}

@media screen and (max-width: 630px) {
  .content > nav {
    position: absolute;
    max-width: 230px;
    left: -265px;
    top: 0;
    transition: all 0.2s ease-out;
  }
  .content > nav.open {
    left: 0;
  }
  .content > * {
    padding: 260px 32px 100px;
    max-width: 80vw;
    height: 220vh;
  }
  .content header {
    white-space: normal;
  }
  body > .to-main-header {
    z-index: 2;
    font-size: 70%;
    align-items: flex-end;
  }
  body > .menu {
    display: block;
    position: absolute;
    color: var(--light);
    z-index: 100;
    top: 12px;
    left: 12px;
    cursor: pointer;
  }
}
